header{
background-color: #ADD8E6;
}
header h1{
color:#FF69B4;
}
nav{
border-bottom: 2px solid black;
}
nav ul li a{
font-size: 18px;
}
footer{
text-align: center;
}
.box{
background-color: #B0E0E6;
padding: 20px;
}